html, body {
  margin: 0;
  padding: 0;
  overflow: hidden
}

canvas {
  display: block;
}

video {
  z-index: -1000;
  margin-top: 4.5rem;
}

#introduction {
  font-family: 'Alegreya', serif;
  color: #444444;
  display:flex;
  flex-direction:column;
}

#introduction h2 {
  background-image: url("https://github.com/ajaibghar-co/teachable-machine-ragamala-proto-v1/blob/2b573666a65e4be598d87311a72b68124db460b7/images/flower.jpg");
  background-size: 550px;
  filter: grayscale(20%);
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  margin: 0;
  padding:0.75rem;
  text-align: center;
  color: #ffffff;
  
}

#introduction p{
  
  padding: 1.5rem;
  font-size:1.5rem
}

.btnclass {
  /* padding: 1rem 3rem 1rem 3rem; */
  border-radius: 0.25rem;
  background-color: #979e5a;
  font-family: 'Alegreya', serif;
  font-size: 1.25rem;
  border: none;
  margin-left: 1.5rem;
  font-style: italic;
  font-size: 1.25rem;
  padding: 1rem 3rem 1rem 3rem;
  width: 3rem;

}

#mlanswers{
  display:flex;
  flex-direction:column;
  align-items: center;
  width:16rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24rem;
}

#awrd{
  font-family: 'Alegreya', serif;
  font-weight: 500;
  color: #444444;
  font-size: 2rem;
  text-align: center;
  padding: 0.75rem 4.5rem 0.75rem 4.5rem;
  background-color: rgba(255,255,255,0.6);
  text-transform: capitalize;
  border-radius: 0.25rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#ansB {
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 0.25rem;
  background-color: #979e5a;
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-size: 1.25rem;
  border: none;
  margin-top: -1rem;
}

#researchresponse{
  display:flex;
  /* flex-direction:row-reverse; */
  align-items: right;
 padding: 2rem;
} 



#rAns {
  
  /* background-color: grey; */
  font-family: 'Alegreya', serif;
  font-size: 1.25rem;
  background-color: rgba(255,255,255,0.6); /* Black background with opacity */
  z-index: 12; /* Specify a stack order in case you're using a different order for other elements */
  align-items: center;
  padding:2rem;
  border-radius: 0.25rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);



}

.spanAns {

 
}

#back{
  margin-left: -2.5rem;

    margin-top: 2rem;
    z-index: 1000;
}
